In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
pd.options.display.max_columns = None
pd.options.display.max_rows = 150

In [3]:
data_path_test = ("test.csv")
data_path_train = ("train.csv")

In [4]:
df_test=pd.read_csv(data_path_test)
df_train=pd.read_csv(data_path_train)
arr_df = [df_test,df_train]

## Visualizzo informazioni sul dataset

In [5]:
df_test.isnull().sum()

Unnamed: 0        0
No-show           0
PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
dtype: int64

In [6]:
df_test.isna().sum()

Unnamed: 0        0
No-show           0
PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
dtype: int64

In [7]:
for col in df_test.columns:
    print(col,df_test[col].value_counts(normalize=True),"\n")

Unnamed: 0 2047     0.000045
66309    0.000045
39431    0.000045
29435    0.000045
19196    0.000045
           ...
85379    0.000045
55093    0.000045
60378    0.000045
74300    0.000045
2049     0.000045
Name: Unnamed: 0, Length: 22106, dtype: float64

No-show No     0.801954
Yes    0.198046
Name: No-show, dtype: float64

PatientId 6.264199e+12    0.000859
9.963767e+10    0.000769
8.221459e+14    0.000724
8.722785e+11    0.000724
2.688613e+13    0.000633
                  ...
4.233367e+11    0.000045
6.464137e+12    0.000045
4.477584e+14    0.000045
3.197248e+13    0.000045
7.314338e+13    0.000045
Name: PatientId, Length: 18734, dtype: float64

AppointmentID 5638143    0.000045
5636933    0.000045
5678083    0.000045
5708598    0.000045
5641015    0.000045
             ...
5692849    0.000045
5715835    0.000045
5623219    0.000045
5672310    0.000045
5670913    0.000045
Name: AppointmentID, Length: 22106, dtype: float64

Gender F    0.655297
M    0.344703
Name: Gender, dtype: float64

ScheduledDay 2016-05-03T07:52:31Z    0.000226
2016-04-25T17:17:23Z    0.000226
2016-05-06T07:09:53Z    0.000226
2016-04-28T11:06:57Z    0.000226
2016-05-10T08:18:24Z    0.000181
                          ...
2016-05-02T17:06:16Z    0.000045
2016-05-24T11:57:02Z    0.000045
2016-06-08T13:14:20Z    0.000045
2016-05-20T08:27:00Z    0.000045
2016-05-30T09:10:42Z    0.000045
Name: ScheduledDay, Length: 21749, dtype: float64

AppointmentDay 2016-06-06T00:00:00Z    0.042703
2016-05-16T00:00:00Z    0.042115
2016-06-08T00:00:00Z    0.042070
2016-06-01T00:00:00Z    0.041527
2016-05-09T00:00:00Z    0.041437
2016-05-17T00:00:00Z    0.041030
2016-05-10T00:00:00Z    0.040803
2016-05-11T00:00:00Z    0.040713
2016-05-03T00:00:00Z    0.040487
2016-05-12T00:00:00Z    0.040125
2016-05-02T00:00:00Z    0.039899
2016-05-18T00:00:00Z    0.039582
2016-05-13T00:00:00Z    0.039492
2016-05-19T00:00:00Z    0.039175
2016-05-30T00:00:00Z    0.039039
2016-05-31T00:00:00Z    0.037953
2016-06-07T00:00:00Z    0.037365
2016-05-04T00:00:00Z    0.037320
2016-06-02T00:00:00Z    0.037094
2016-06-03T00:00:00Z    0.036551
2016-05-05T00:00:00Z    0.036461
2016-05-06T00:00:00Z    0.035601
2016-05-25T00:00:00Z    0.034696
2016-05-24T00:00:00Z    0.033973
2016-05-20T00:00:00Z    0.033204
2016-04-29T00:00:00Z    0.029313
2016-05-14T00:00:00Z    0.000271
Name: AppointmentDay, dtype: float64

Age 0      0.032299
1      0.020718
59     0.015742
53     0.015607
19     0.015516
50     0.015019
2      0.014702
56     0.014702
39     0.014611
38     0.014250
36     0.014250
33     0.014159
57     0.014114
58     0.014114
52     0.014114
7      0.013933
30     0.013933
46     0.013752
28     0.013661
34     0.013661
32     0.013661
16     0.013481
18     0.013481
54     0.013435
5      0.013390
49     0.013390
37     0.013300
6      0.013073
64     0.013073
44     0.013028
48     0.012938
21     0.012892
51     0.012757
60     0.012757
25     0.012757
45     0.012757
27     0.012711
9      0.012666
23     0.012666
20     0.012666
61     0.012621
17     0.012531
47     0.012531
63     0.012531
3      0.012485
35     0.012485
40     0.012350
43     0.012304
41     0.012214
26     0.012169
55     0.012033
31     0.011988
62     0.011897
4      0.011807
42     0.011762
8      0.011445
22     0.011354
11     0.011264
13     0.011219
29     0.011128
15     0.011083
10     0.011038
24     0.010676
66     0.010631
12     0.010359
65     0.009500
68     0.009047
14     0.009002
67     0.008821
69     0.007871
71     0.007555
73     0.007193
70     0.006695
74     0.005881
72     0.005338
75     0.005338
78     0.005157
80     0.005066
76     0.004840
77     0.004388
79     0.004207
81     0.003483
84     0.003438
82     0.003348
86     0.002940
85     0.002488
83     0.002352
87     0.001719
89     0.001629
90     0.001312
88     0.000950
91     0.000679
92     0.000543
93     0.000407
95     0.000407
96     0.000226
94     0.000226
100    0.000136
97     0.000090
98     0.000045
102    0.000045
Name: Age, dtype: float64

Neighbourhood JARDIM CAMBURI                 0.070524
MARIA ORTIZ                    0.052520
RESISTÊNCIA                    0.041618
JARDIM DA PENHA                0.035556
ITARARÉ                        0.034335
CENTRO                         0.030489
SANTA MARTHA                   0.027278
JESUS DE NAZARETH              0.025559
TABUAZEIRO                     0.025423
BONFIM                         0.023568
CARATOÍRA                      0.023523
SÃO PEDRO                      0.023342
SANTO ANTÔNIO                  0.023252
SANTO ANDRÉ                    0.022754
JABOUR                         0.022075
ILHA DO PRÍNCIPE               0.021533
ROMÃO                          0.020990
ANDORINHAS                     0.020718
NOVA PALESTINA                 0.019633
DA PENHA                       0.019497
SÃO JOSÉ                       0.018909
GURIGICA                       0.018773
MARUÍPE                        0.018140
BELA VISTA                     0.016783
ILHA DE SANTA MARIA            0.016285
SÃO CRISTÓVÃO                  0.016059
FORTE SÃO JOÃO                 0.014521
REDENÇÃO                       0.013888
SÃO BENEDITO                   0.013390
CRUZAMENTO                     0.013164
CONSOLAÇÃO                     0.013073
SANTA TEREZA                   0.013073
SANTOS DUMONT                  0.012169
PRAIA DO SUÁ                   0.011988
JOANA D´ARC                    0.011762
INHANGUETÁ                     0.009726
GRANDE VITÓRIA                 0.009726
ILHA DAS CAIEIRAS              0.009409
PRAIA DO CANTO                 0.008459
DO QUADRO                      0.008097
VILA RUBIM                     0.007916
REPÚBLICA                      0.007600
BENTO FERREIRA                 0.007555
MONTE BELO                     0.007328
CONQUISTA                      0.007238
PARQUE MOSCOSO                 0.007147
FONTE GRANDE                   0.006695
GOIABEIRAS                     0.006424
JUCUTUQUARA                    0.005745
DO CABRAL                      0.005247
MATA DA PRAIA                  0.005202
ESTRELINHA                     0.005157
SANTOS REIS                    0.004976
SOLON BORGES                   0.004478
BARRO VERMELHO                 0.004433
PIEDADE                        0.004433
SANTA CLARA                    0.004297
SANTA LUÍZA                    0.004207
SANTA CECÍLIA                  0.004071
DO MOSCOSO                     0.003755
SANTA LÚCIA                    0.003574
MÁRIO CYPRESTE                 0.003393
BOA VISTA                      0.002850
DE LOURDES                     0.002759
COMDUSA                        0.002578
SANTA HELENA                   0.002443
ANTÔNIO HONÓRIO                0.002398
ARIOVALDO FAVALESSA            0.002398
FRADINHOS                      0.002307
ENSEADA DO SUÁ                 0.002081
HORTO                          0.001809
UNIVERSITÁRIO                  0.001493
SEGURANÇA DO LAR               0.001312
NAZARETH                       0.001086
MORADA DE CAMBURI              0.000769
PONTAL DE CAMBURI              0.000633
ILHA DO BOI                    0.000498
ILHA DO FRADE                  0.000045
ILHAS OCEÂNICAS DE TRINDADE    0.000045
AEROPORTO                      0.000045
Name: Neighbourhood, dtype: float64

Scholarship 0    0.900253
1    0.099747
Name: Scholarship, dtype: float64

Hipertension 0    0.798516
1    0.201484
Name: Hipertension, dtype: float64

Diabetes 0    0.925224
1    0.074776
Name: Diabetes, dtype: float64

Alcoholism 0    0.970415
1    0.029585
Name: Alcoholism, dtype: float64

Handcap 0    0.979734
1    0.018637
2    0.001538
4    0.000045
3    0.000045
Name: Handcap, dtype: float64

SMS_received 0    0.682982
1    0.317018
Name: SMS_received, dtype: float64

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22106 entries, 0 to 22105
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      22106 non-null  int64
 1   No-show         22106 non-null  object
 2   PatientId       22106 non-null  float64
 3   AppointmentID   22106 non-null  int64
 4   Gender          22106 non-null  object
 5   ScheduledDay    22106 non-null  object
 6   AppointmentDay  22106 non-null  object
 7   Age             22106 non-null  int64
 8   Neighbourhood   22106 non-null  object
 9   Scholarship     22106 non-null  int64
 10  Hipertension    22106 non-null  int64
 11  Diabetes        22106 non-null  int64
 12  Alcoholism      22106 non-null  int64
 13  Handcap         22106 non-null  int64
 14  SMS_received    22106 non-null  int64
dtypes: float64(1), int64(9), object(5)
memory usage: 2.5+ MB

## Eseguo il drop delle colonne non significative

In [9]:
for df in arr_df:
    df.drop("Unnamed: 0",axis=1,inplace=True)
    df.drop("AppointmentID",axis=1,inplace=True)

### Manipolazione Dataset

In [10]:
def manipulate(df):
    
    #Trasformo qui la colonna No-show in binario perche mi serve per aggregare
    df['No-show'] = df["No-show"].apply(lambda x: 0 if x == "No" else 1)
    
    
    #Trasformo le stringhe in date senza time
    df["AppointmentDay"]=pd.to_datetime(df["AppointmentDay"]).dt.date
    df["ScheduledDay"]=pd.to_datetime(df["ScheduledDay"]).dt.date
    
    #Aggiungo feature Interval (differenza tra AppointmentDay e ScheduledDay)
    df["Interval"] = (df["AppointmentDay"]- df["ScheduledDay"])
    
    #Elimino le righe con prenotazione successiva alla data dell'esame... (Interval<0)
    df.drop(df[df["Interval"]  < pd.Timedelta(0, unit='d')].index, inplace=True)
    
    #Numero di appuntamenti presenti del paziente
    df['SommaAppuntamenti'] = df.sort_values(by = ['PatientId','ScheduledDay']).groupby(['PatientId']).cumcount()
    
    #Trovo il giorno della settimana della prenotazione e dell'appuntamento
    df['ScheduledWeekday'] = df.apply(lambda x: x.ScheduledDay.isoweekday(), axis = 1)
    df['AppointmentWeekday'] = df.apply(lambda x: x.AppointmentDay.isoweekday(), axis = 1)
    
    #Se ha un handicap o meno
    df['HasHandicap'] = df['Handcap'].apply(lambda x: 0 if x == 0 else 1)
    
    #Se ha una malattia tra ipertensione, diabete e alcolismo
    df['isWeak'] = df.apply(lambda x: ((x.Hipertension == 1 )| x.Diabetes == 1 | x.Alcoholism == 1)*1, axis = 1)
   
    return df

In [11]:
for df in arr_df:
    df = manipulate(df)

In [12]:
for col in df_train.columns:
    print(col,df_train[col].value_counts(normalize=True),"\n")

No-show 0    0.79639
1    0.20361
Name: No-show, dtype: float64

PatientId 8.221459e+14    0.000829
9.963767e+10    0.000754
2.688613e+13    0.000709
3.353478e+13    0.000633
6.684488e+13    0.000618
                  ...
9.761626e+12    0.000015
8.696716e+12    0.000015
2.715915e+13    0.000015
5.972713e+11    0.000015
5.868530e+13    0.000015
Name: PatientId, Length: 44387, dtype: float64

Gender F    0.647837
M    0.352163
Name: Gender, dtype: float64

ScheduledDay 2016-05-03    0.038183
2016-05-02    0.037625
2016-05-05    0.037338
2016-05-16    0.037202
2016-05-10    0.037006
2016-05-09    0.035106
2016-04-29    0.033342
2016-05-04    0.032769
2016-05-11    0.032482
2016-05-18    0.031381
2016-05-24    0.031351
2016-05-30    0.031246
2016-05-17    0.031185
2016-05-06    0.030763
2016-05-12    0.030160
2016-05-19    0.029044
2016-05-13    0.027913
2016-05-20    0.027521
2016-05-25    0.027054
2016-05-31    0.025877
2016-06-02    0.025380
2016-06-01    0.025169
2016-04-28    0.024445
2016-06-03    0.022680
2016-04-26    0.022394
2016-06-06    0.021474
2016-04-27    0.021444
2016-04-25    0.018790
2016-04-20    0.017764
2016-06-07    0.016241
2016-06-08    0.013753
2016-04-18    0.012411
2016-04-15    0.012366
2016-04-19    0.011476
2016-04-05    0.006997
2016-04-14    0.006665
2016-04-13    0.006499
2016-04-11    0.006319
2016-04-12    0.006168
2016-04-01    0.005429
2016-04-06    0.005368
2016-04-07    0.005263
2016-04-08    0.004479
2016-03-01    0.004041
2016-03-29    0.002775
2016-03-31    0.002639
2016-03-30    0.002443
2016-03-28    0.002217
2016-03-23    0.001960
2016-03-22    0.001930
2016-03-02    0.001855
2016-03-17    0.001583
2016-03-18    0.001342
2016-03-21    0.001297
2016-03-16    0.001297
2016-03-07    0.001131
2016-03-15    0.001116
2016-03-14    0.001010
2016-03-03    0.000905
2016-03-04    0.000844
2016-03-11    0.000784
2016-03-10    0.000588
2016-03-09    0.000528
2015-12-08    0.000377
2016-03-08    0.000362
2016-02-24    0.000317
2016-02-29    0.000302
2016-02-25    0.000256
2016-02-26    0.000241
2016-02-23    0.000211
2016-02-16    0.000181
2016-02-22    0.000181
2016-02-19    0.000151
2016-02-05    0.000136
2016-02-17    0.000136
2016-02-18    0.000106
2016-02-12    0.000106
2016-01-07    0.000106
2016-01-29    0.000106
2015-12-07    0.000106
2016-02-01    0.000090
2016-02-11    0.000060
2015-12-15    0.000060
2016-01-22    0.000060
2016-01-25    0.000045
2016-01-11    0.000045
2016-01-05    0.000045
2016-01-14    0.000030
2016-02-04    0.000030
2016-01-21    0.000030
2015-12-14    0.000030
2016-04-30    0.000030
2016-05-14    0.000030
2016-02-02    0.000030
2015-11-10    0.000015
2016-04-16    0.000015
2016-02-03    0.000015
2016-01-13    0.000015
2016-01-28    0.000015
2016-01-04    0.000015
2016-03-19    0.000015
2016-04-09    0.000015
2016-05-07    0.000015
2016-03-05    0.000015
2016-01-26    0.000015
2016-01-20    0.000015
2016-02-15    0.000015
Name: ScheduledDay, dtype: float64

AppointmentDay 2016-06-06    0.042164
2016-05-30    0.041349
2016-05-16    0.040897
2016-06-07    0.040716
2016-05-11    0.040369
2016-05-09    0.040369
2016-06-08    0.040354
2016-06-01    0.040354
2016-06-02    0.039781
2016-05-18    0.039540
2016-05-12    0.039510
2016-05-31    0.039479
2016-05-17    0.039374
2016-05-02    0.039329
2016-05-05    0.038786
2016-05-19    0.038605
2016-05-10    0.038107
2016-05-04    0.038092
2016-05-03    0.037956
2016-06-03    0.037715
2016-05-24    0.036991
2016-05-25    0.035936
2016-05-13    0.035709
2016-05-20    0.034714
2016-05-06    0.034684
2016-04-29    0.028818
2016-05-14    0.000302
Name: AppointmentDay, dtype: float64

Age 0      0.031758
1      0.020403
52     0.016422
49     0.015170
38     0.015140
2      0.014944
57     0.014839
50     0.014522
56     0.014492
53     0.014492
37     0.014416
36     0.014371
51     0.014326
59     0.014296
3      0.014190
33     0.014024
34     0.013964
54     0.013904
17     0.013874
32     0.013813
39     0.013768
6      0.013693
29     0.013557
44     0.013542
30     0.013497
19     0.013466
5      0.013451
31     0.013270
8      0.013240
46     0.013165
55     0.013165
20     0.013074
18     0.013059
21     0.013059
58     0.013029
28     0.013014
60     0.012954
45     0.012939
48     0.012893
40     0.012788
63     0.012682
35     0.012667
47     0.012531
22     0.012531
27     0.012486
41     0.012456
7      0.012335
16     0.012305
64     0.012245
9      0.012215
61     0.012139
23     0.012139
25     0.012124
62     0.011943
43     0.011732
4      0.011732
10     0.011431
24     0.011355
42     0.011355
26     0.011265
15     0.010858
11     0.010631
66     0.010616
14     0.010435
13     0.009847
65     0.009787
12     0.009757
68     0.009244
67     0.008807
69     0.007555
70     0.006213
71     0.006168
73     0.006107
72     0.005580
76     0.005429
74     0.005233
75     0.004931
78     0.004780
77     0.004765
80     0.004509
81     0.004087
82     0.003619
79     0.003544
83     0.002714
84     0.002669
85     0.002413
86     0.001991
87     0.001614
89     0.001402
88     0.001161
90     0.000995
92     0.000875
91     0.000573
93     0.000422
94     0.000332
95     0.000211
96     0.000151
97     0.000136
98     0.000075
115    0.000060
102    0.000015
100    0.000015
99     0.000015
Name: Age, dtype: float64

Neighbourhood JARDIM CAMBURI                 0.070107
MARIA ORTIZ                    0.051905
RESISTÊNCIA                    0.039856
JARDIM DA PENHA                0.034790
ITARARÉ                        0.030929
CENTRO                         0.030039
TABUAZEIRO                     0.029300
SANTA MARTHA                   0.028742
JESUS DE NAZARETH              0.025546
BONFIM                         0.025425
SANTO ANTÔNIO                  0.025169
SANTO ANDRÉ                    0.023419
CARATOÍRA                      0.022907
JABOUR                         0.022816
SÃO PEDRO                      0.022364
NOVA PALESTINA                 0.020735
DA PENHA                       0.020448
ILHA DO PRÍNCIPE               0.020403
ANDORINHAS                     0.020071
ROMÃO                          0.020011
FORTE SÃO JOÃO                 0.018247
GURIGICA                       0.017945
ILHA DE SANTA MARIA            0.017387
SÃO JOSÉ                       0.017252
BELA VISTA                     0.017086
MARUÍPE                        0.017055
SÃO CRISTÓVÃO                  0.016709
REDENÇÃO                       0.014220
JOANA D´ARC                    0.013316
SÃO BENEDITO                   0.012818
CRUZAMENTO                     0.012728
CONSOLAÇÃO                     0.012034
SANTA TEREZA                   0.011793
PRAIA DO SUÁ                   0.011687
SANTOS DUMONT                  0.011431
ILHA DAS CAIEIRAS              0.010073
GRANDE VITÓRIA                 0.009606
PRAIA DO CANTO                 0.009425
INHANGUETÁ                     0.009319
BENTO FERREIRA                 0.008007
CONQUISTA                      0.007992
VILA RUBIM                     0.007796
DO QUADRO                      0.007766
MONTE BELO                     0.007450
REPÚBLICA                      0.007434
PARQUE MOSCOSO                 0.007253
GOIABEIRAS                     0.006424
JUCUTUQUARA                    0.006334
FONTE GRANDE                   0.006122
MATA DA PRAIA                  0.005926
DO CABRAL                      0.005052
SANTOS REIS                    0.004916
ESTRELINHA                     0.004614
SANTA CLARA                    0.004614
SANTA CECÍLIA                  0.004132
SOLON BORGES                   0.004057
SANTA LUÍZA                    0.003936
SANTA LÚCIA                    0.003815
DO MOSCOSO                     0.003755
PIEDADE                        0.003710
BARRO VERMELHO                 0.003544
MÁRIO CYPRESTE                 0.003303
COMDUSA                        0.002941
DE LOURDES                     0.002729
BOA VISTA                      0.002699
ARIOVALDO FAVALESSA            0.002699
ANTÔNIO HONÓRIO                0.002594
FRADINHOS                      0.002337
ENSEADA DO SUÁ                 0.001945
HORTO                          0.001448
UNIVERSITÁRIO                  0.001418
SEGURANÇA DO LAR               0.001372
SANTA HELENA                   0.001342
NAZARETH                       0.001297
MORADA DE CAMBURI              0.000980
PONTAL DE CAMBURI              0.000603
ILHA DO BOI                    0.000287
ILHA DO FRADE                  0.000106
AEROPORTO                      0.000106
ILHAS OCEÂNICAS DE TRINDADE    0.000015
PARQUE INDUSTRIAL              0.000015
Name: Neighbourhood, dtype: float64

Scholarship 0    0.900939
1    0.099061
Name: Scholarship, dtype: float64

Hipertension 0    0.80307
1    0.19693
Name: Hipertension, dtype: float64

Diabetes 0    0.928491
1    0.071509
Name: Diabetes, dtype: float64

Alcoholism 0    0.969011
1    0.030989
Name: Alcoholism, dtype: float64

Handcap 0    0.979627
1    0.018458
2    0.001734
3    0.000151
4    0.000030
Name: Handcap, dtype: float64

SMS_received 0    0.676926
1    0.323074
Name: SMS_received, dtype: float64

Interval 0 days      0.347956
2 days      0.060230
4 days      0.047773
1 days      0.047381
7 days      0.045014
6 days      0.037172
5 days      0.029481
14 days     0.026586
3 days      0.025033
8 days      0.021022
21 days     0.016558
13 days     0.015397
28 days     0.015110
9 days      0.014854
15 days     0.013497
10 days     0.012486
22 days     0.011069
20 days     0.010662
12 days     0.010360
29 days     0.010119
16 days     0.010089
17 days     0.009455
19 days     0.009304
27 days     0.009229
18 days     0.009169
11 days     0.008988
35 days     0.008852
23 days     0.007434
34 days     0.007374
26 days     0.006605
30 days     0.006213
33 days     0.006062
24 days     0.005836
31 days     0.005776
25 days     0.005474
32 days     0.005293
36 days     0.005037
42 days     0.004057
41 days     0.003318
37 days     0.003182
40 days     0.002488
43 days     0.002156
49 days     0.001945
63 days     0.001855
38 days     0.001825
56 days     0.001749
50 days     0.001689
62 days     0.001598
39 days     0.001538
44 days     0.001523
45 days     0.001342
61 days     0.001327
66 days     0.001252
48 days     0.001010
55 days     0.000995
46 days     0.000980
58 days     0.000980
51 days     0.000950
47 days     0.000950
70 days     0.000920
52 days     0.000905
69 days     0.000890
59 days     0.000814
65 days     0.000814
57 days     0.000784
53 days     0.000769
54 days     0.000754
64 days     0.000709
68 days     0.000694
75 days     0.000679
76 days     0.000603
60 days     0.000588
90 days     0.000573
84 days     0.000543
72 days     0.000513
91 days     0.000498
77 days     0.000483
67 days     0.000437
71 days     0.000407
73 days     0.000377
74 days     0.000377
85 days     0.000317
78 days     0.000317
79 days     0.000241
80 days     0.000181
87 days     0.000136
88 days     0.000136
176 days    0.000136
162 days    0.000136
89 days     0.000121
155 days    0.000106
81 days     0.000106
179 days    0.000106
83 days     0.000106
133 days    0.000090
104 days    0.000075
169 days    0.000075
112 days    0.000060
86 days     0.000060
103 days    0.000060
105 days    0.000045
119 days    0.000045
142 days    0.000045
108 days    0.000045
96 days     0.000045
122 days    0.000045
107 days    0.000030
111 days    0.000030
95 days     0.000030
102 days    0.000030
92 days     0.000030
109 days    0.000030
123 days    0.000015
126 days    0.000015
82 days     0.000015
98 days     0.000015
127 days    0.000015
101 days    0.000015
93 days     0.000015
132 days    0.000015
94 days     0.000015
146 days    0.000015
97 days     0.000015
115 days    0.000015
139 days    0.000015
Name: Interval, dtype: float64

SommaAppuntamenti 0     0.669356
1     0.196130
2     0.067031
3     0.027385
4     0.013180
5     0.006892
6     0.004237
7     0.002594
8     0.001749
9     0.001402
10    0.000980
11    0.000799
12    0.000679
13    0.000573
14    0.000498
15    0.000467
16    0.000422
17    0.000392
18    0.000392
19    0.000362
20    0.000347
21    0.000302
22    0.000302
23    0.000287
24    0.000241
25    0.000226
26    0.000211
27    0.000211
29    0.000196
28    0.000196
30    0.000181
31    0.000181
32    0.000181
33    0.000181
34    0.000166
35    0.000136
36    0.000121
40    0.000090
38    0.000090
39    0.000090
37    0.000090
41    0.000060
42    0.000045
43    0.000045
44    0.000045
45    0.000045
46    0.000045
47    0.000030
48    0.000030
49    0.000030
51    0.000015
52    0.000015
53    0.000015
50    0.000015
54    0.000015
Name: SommaAppuntamenti, dtype: float64

ScheduledWeekday 2    0.238038
3    0.222264
1    0.206656
5    0.168263
4    0.164643
6    0.000136
Name: ScheduledWeekday, dtype: float64

AppointmentWeekday 3    0.234645
2    0.232624
1    0.204108
5    0.171641
4    0.156681
6    0.000302
Name: AppointmentWeekday, dtype: float64

HasHandicap 0    0.979627
1    0.020373
Name: HasHandicap, dtype: float64

isWeak 0    0.789634
1    0.210366
Name: isWeak, dtype: float64

### Labeling delle variabili categoriche

In [13]:
categorical_features = df_train.select_dtypes(include=["object","timedelta64","float64"]).columns
excluded_features = ["ScheduledDay","AppointmentDay"]
categorical_features

Index(['PatientId', 'Gender', 'ScheduledDay', 'AppointmentDay',
       'Neighbourhood', 'Interval'],
      dtype='object')

In [14]:
label_df_train=df_train.copy()
label_df_test=df_test.copy()

arr_label_df = [label_df_train,label_df_test]

label_encoder=LabelEncoder()
for label_df in arr_label_df:
    for col in categorical_features:
        if col not in excluded_features:
            label_df[col]=label_encoder.fit_transform(label_df[col])
    # Tratto le date come ordinal, così da avere correlazione tra test e train
    label_df["ScheduledDay"] = label_df["ScheduledDay"].apply(lambda x : x.toordinal())
    label_df["AppointmentDay"] = label_df["AppointmentDay"].apply(lambda x : x.toordinal())

In [15]:
label_df_train

,No-show,PatientId,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Interval,SommaAppuntamenti,ScheduledWeekday,AppointmentWeekday,HasHandicap,isWeak
0,1,8655,0,736069,736102,29,66,0,0,0,0,0,0,33,0,5,3,0,0
1,0,5944,0,736121,736121,5,41,0,0,0,0,0,0,0,0,1,1,0,0
2,0,37617,1,736074,736094,64,39,0,0,0,0,0,1,20,0,3,2,0,0
3,0,40559,0,736103,736103,66,55,0,1,0,0,0,0,0,0,4,4,0,1
4,0,8209,1,736114,736114,72,59,0,0,0,0,0,0,0,3,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66310,0,15786,0,736103,736117,11,70,0,0,0,0,0,1,14,3,4,4,0,0
66311,0,30175,1,736074,736095,50,78,0,1,1,0,0,1,21,0,3,3,0,1
66312,0,40128,0,736116,736116,42,1,0,0,0,0,0,0,0,2,3,3,0,0
66313,1,10730,1,736067,736089,13,5,0,0,0,0,0,1,22,0,3,4,0,0
66314,0,13334,1,736097,736097,12,40,0,0,0,0,0,0,0,1,5,5,0,0

In [16]:
label_df_test

,No-show,PatientId,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,Interval,SommaAppuntamenti,ScheduledWeekday,AppointmentWeekday,HasHandicap,isWeak
0,0,874,1,736121,736123,9,35,0,0,0,0,0,0,2,0,1,3,0,0
1,0,8724,1,736109,736114,50,1,0,0,1,0,0,1,5,2,3,1,0,1
2,0,807,0,736095,736095,69,38,0,0,0,0,0,0,0,0,3,3,0,0
3,0,13131,0,736096,736100,22,23,0,0,0,0,0,0,4,0,4,1,0,0
4,0,14844,0,736101,736101,1,56,0,0,0,0,0,0,0,0,2,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22101,0,16563,0,736086,736102,9,18,0,0,0,0,0,0,16,0,1,3,0,0
22102,0,18174,0,736097,736104,6,14,0,0,0,0,0,0,7,0,5,5,0,0
22103,0,15387,0,736080,736088,50,38,0,0,0,0,0,1,8,0,2,3,0,0
22104,0,13404,1,736103,736103,15,38,0,0,0,0,0,0,0,1,4,4,0,0
22105,0,7906,1,736104,736104,58,36,0,0,0,1,0,0,0,0,5,5,0,0

In [17]:
target="No-show"

ground_truth_train=label_df_train[target]
other_features_train=label_df_train.drop(target, axis=1)

ground_truth_test=label_df_test[target]
other_features_test=label_df_test.drop(target, axis=1)

### Addestramento, predizione e accuracy

In [18]:
model = LogisticRegression()
model.fit(other_features_train,ground_truth_train)
val_pred=model.predict(other_features_test)

print("Using Logistic Regression", accuracy_score(ground_truth_test,val_pred.round())*100, "%")

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Using Logistic Regression 80.19904998869035 %